@import url("global.css");

body {
	background-color: #eee;
}

#mobile-navbar {
	background-color: rgba(0, 0, 0, 0.85);
}

#footer {
	background-color: rgba(0, 0, 0, 0.85);
}

#final-wrapper {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 0.5fr 1fr;
	padding: 35px;
	grid-gap: 35px;
}

#track-container {
	height: 500px;
	max-height: calc(100vh - 120px);
	background-color: white;
	border-radius: 12px;
	padding: 0px 20px;
	width: 75%;
	min-width: 375px;
	position: sticky;
	top: 86px;
}

#tracks-added {
	color: var(--coral);
	padding: 4px 0px 3px 10px;
	font-size: 26pt;
}

#track-list {
	overflow: auto;
	height: 380px;
	max-height: calc(100vh - 288px);
}

.album-info {
	background-color: white;
	font-size: 14pt;
	border-radius: 8px;
	padding: 6px 0px 6px 12px;
	margin-bottom: 4px;
	border: 2px solid #DDDDDD;
	cursor: pointer;
}

.track {
	background-color: white;
	font-size: 14pt;
	border-radius: 8px;
	padding: 6px 0px 6px 12px;
	margin-bottom: 4px;
	border: 2px solid #DDDDDD;
	cursor: pointer;
}

.selected {
	background-color: rgba(255, 63, 63, 0.5);
	border-color: rgba(255, 63, 63, 0.5);
}

.track-name {
	color: #333;
}

#preview {
	float: left;
	height: 40px;
	width: 40px;
}

#file {
	float: right;
}

#add-track {
	background-color: var(--coral);
	color: white;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-radius: 6px;
	cursor: pointer;
	float: right;
	margin-top: 10px;
}

#add-track:hover {
	background-color: var(--coral-hover);
}

#submit-redirect {
	background-color: var(--coral);
	color: white;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border-radius: 6px;
	cursor: pointer;
	float: left;
	margin-top: 10px;
}

#submit-redirect:hover {
	background-color: var(--coral-hover);
}

#hr {
	height: 2px;
	background-color: #333;
	margin-bottom: 10px;
}

#first-form {
	text-align: right;
	display: inline-grid;
	grid-template-columns: 1fr;
	background-color: white;
	padding: 20px;
	border-radius: 12px;
}

#first-form p {
	display: inline;
	margin-right: 8px;
}

#album-info-form p {
	display: inline;
	margin-right: 8px;
}

#album-info-form {
	text-align: right;
	display: inline-grid;
	grid-template-columns: 1fr;
	background-color: white;
	padding: 20px;
	border-radius: 12px;
}

#add-song-text {
	background-color: white;
	padding: 15px;
	border-radius: 12px;
}

#explicits {
	display: inline-block;
	text-align: left;
}

#isrcs {
	display: inline-block;
	width: 156px;
	text-align: left;
}

.form-element {
	border: 2px solid #DDDDDD;
	padding: 10px;
	margin: 5px;
	font-size: 17px;
	border-radius: 9px;
	text-align: right;
	font-weight: 400;
	color: rgb(70,70,70);
}

#release-form {
	display: flex;
	justify-content: center;
}

#main-grid {
	display: grid;
	min-height: calc(100% - 60px);
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
	transition-property: filter;
	transition-duration: 0.1s;
}

.file-upload {
	width: 200px;
}

.required-asterisk {
	color: var(--coral);
	display: inline;
	float: left;
	margin-right: 7px;
	margin-top: -4px;
}

#menu-button {
	width: 40px;
	height: 40px;
	margin-top: 12px;
}

input[type="text"] {
	background-color: rgba(0,0,0,0);
	min-width: 220px;
	font-size: 17px;
	border-radius: 8px;
	border: 0.75px solid #C9C9C9;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	outline: none;
	font-family: 'Nunito Sans', sans-serif;
}

.file-upload-button {
	display: inline-block;
	background-color: var(--coral);
	border-radius: 8px;
	color: white;
	padding: 5px;
	padding: 3px 8px;
	margin-right: 8px;
	cursor: pointer;
}

.file-upload-button:hover, .file-upload-button:active {
	background-color: var(--coral-hover);
}

#unfinishedTracks {
	background-color: white;
    margin: 35px 35px 0px 35px;
    padding: 20px;
    border-radius: 10px;
    color: var(--coral);
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
	#unfinishedTracks {
		margin: 20px 20px 0px 20px;
	}

	#final-wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		padding: 20px;
	}

	#track-container {
		min-width: 0px;
		width: calc(100vw - 80px);
		position: initial;
		max-height: 400px;
		height: 400px;
	}

	#track-list {
		height: 235px;
	}

	#first-form {
		padding: 20px 10px 20px 10px;
	}

	#first-form > p {
		font-size: 18px;
	}

	#album-info-form {
		padding: 20px 10px 20px 10px;
	}

	#album-info-form > p {
		font-size: 18px;
	}

	.form-element {
		margin: 5px 0px;
		border-radius: 15px;
	}

	.form-element > p {
		font-size: 19px;
	}

	input[type="text"] {
		width: calc(100% - 10px);
		font-size: 19px;
	}
}