@import url("global.css");

#navbar {
	background-color:  rgba(0, 0, 0, 0.55);
}

#all-content {
	background-color: white;
	max-width: 1140px;
	margin-left: calc(50vw - 610px);
	padding: 0px 40px;
}

.main-content-h1-2 {
	color: var(--coral);
	font-family: "Vonique64", sans-serif;
	font-size: 43pt;
	font-weight: 900;
	letter-spacing: 4px;
	text-align: center;
}

#comparison-chart {
	/*width: 650px;*/
	/*height: 487.5px;*/
	width: 500px;
	height: 375px;
}

#why-choose-playline-text {
	font-size: 20px;
	margin-top: 12px;
}

#second-main-div {
	padding: 5px 0px;
}

.main-content-box-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 15px 15px 10px 15px;
}

.main-content-box-2 > div {
	text-align: center;
}

#main-content-for-page {
	padding: 20px 0px;
}

.main-content-h1 {
	font-family: "Vonique64", sans-serif;
	color: var(--coral);
	font-weight: 900;
	letter-spacing: 3px;
	font-size: 45pt;
}

.main-content-p {
	font-size: 20pt;
	padding: 0px 150px;
}

@media only screen and (max-width: 1360px) {
	#all-content {
		max-width: 960px;
		margin-left: calc(50vw - 520px);
	}

	#comparison-chart {
		width: 450px;
		height: 337.5px;
	}

	.main-content-h1-2 {
		font-size: 34pt;
	}

	#why-choose-playline-text {
		font-size: 18px;
	}

	.main-content-h1 {
		font-size: 40pt;
	}

	.main-content-p {
		padding: 0px 90px;
	}
}

@media only screen and (max-width: 1000px) {
	.main-content-h1 {
		font-size: 30pt;
	}
}

@media only screen and (max-width: 720px) {
	#main-content-for-page {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.main-content-box {
	display: inline-block;
	padding: 50px 20px;
	text-align: center;
	border-bottom: 3px solid #333;
}

#store-logos {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto auto auto;
	justify-content: center;
	grid-gap: 0px;
	grid-column-gap: 14px;
	margin-top: 44px;
	filter: grayscale(100%);
	transform: scale(1.2);
}

#amazon {
	margin-top: 0px;
}

#deezer {
	margin-top: 0px;
}

#googleplay {
	margin-top: 0px;
}

#iheartradio {
	margin-top: 3px;
}

#pandora {
	margin-top: 34px;
}

#spotify {
	margin-top: 30px;
	margin-left: 3px;
}

#tidal {
	margin-top: 34px;
	margin-left: 6px;
}

#youtubemusic {
	margin-top: 33px;
	margin-left: 12px;
}

#itunes-applemusic {
	height: 70px;
	margin-top: 4px;
}

@media only screen and (max-width: 1210px) {
	#store-logos {
		transform: scale(0.85);
	}
}

@media only screen and (max-width: 1100px) {
	#store-logos {
		transform: scale(0.75);
	}
}

@media only screen and (max-width: 935px) {
	#store-logos {
		transform: scale(0.60);
	}
}

@media only screen and (max-width: 720px) {
	#store-logos {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		transform: scale(0.8);
	}

	#iheartradio {
		margin-top: 0px;
	}
}

#hero-container {
	text-align: center;
	margin-top: -50px;
	height: 100vh;
	max-height: 1440px;
	background-image: url("imgs/faders1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}

@media only screen and (max-width: 768px) {
	#hero-container {
		background-size: 100%;
	}
}

#home-title {
	color: var(--coral);
	font-size: 50pt;
	padding-top: 29vh;
	text-shadow: 0px 0px 23px rgba(0, 0, 0, 1);
	font-family: "Vonique64";
	font-weight: 900;
	letter-spacing: 4px;
}

@media only screen and (max-width: 870px) {
	#home-title {
		font-size: 40pt;
	}
}

@media only screen and (max-width: 720px) {
	#home-title {
		font-size: 30pt;
	}
}

#home-subtitle {
	color: var(--coral);
	font-size: 20pt;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}

#learn-more-container {
	background-color: var(--coral);
	display: inline-block;
	padding: 7px 15px 7px 15px;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	color: white;
	margin-top: 17px;
}

#learn-more-container:hover {
	background-color: var(--coral-hover);
}

a.alink {
	text-decoration: underline;
	color: #005AFF;
}

a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: 400;
}

#main-grid {
	width: 100%;
}

@media only screen and (max-width: ) {
	#main-grid {
		width: 110%;
	}
}