:root {
	--panels: #E6E6E6;
	--buttons: #5998ff;
	--buttons-hover: #7CAEFF;
	--text: #585A5D;
	--orange: #F69982;
	--div-padding: 5%;
}

* {
	font-family: "Roboto", sans-serif;
	margin: 0px;
	padding: 0px;
	font-weight: 100;
}

html, body {
	width: 100%;
	height: 100%;
}

#signup-text {
	font-size: 14px;
	margin-top: 0px;
	cursor: pointer;
}

#signup-text2 {
	font-size: 14px;
	margin-top: 0px;
	cursor: pointer;
}

a.alink {
	text-decoration: underline;
	color: #005AFF;
}

a {
	text-decoration: none;
	color: white;
	text-align: center;
}

button {
	border: none;
	font-size: 16px;
	color: white;
	background-color: var(--buttons);
}

button:hover {
	background-color: var(--buttons-hover);
}

#login {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	margin-top: 4px;
	border-radius: 8px;
	margin-bottom: 5px;
}

#open-login {
	float: right;
	font-size: 20px;
	margin-right: 20px;
	margin-bottom: 17.5px;
	margin-top: 16px;
	cursor: pointer;
	color: black;
}

#open-login:hover {
	color: #737373;
}

#navbar {
	background-color: var(--panels);
	width: 100%;
	height: 60px;
	display: inline-block;
	position: fixed;
	z-index: 1000;s
}

#navbar-logo {
	width: 54px;
	height: 54px;
	margin-top: 3px;
}

.main-panel {
	margin-top: 3%;
	border-radius: 15px;
	background-color: var(--panels);
	z-index: 1;
}

#left-panel {
	text-align: center;
	margin-left: var(--div-padding);
	margin-right: 0%;
}

h5 {
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 8px;
}

#money {
	font-size: 72px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 12px;
}

#awithdrawl {
	background-color: var(--buttons);
	color: white;
	font-size: 24px;
	padding: 6px 20px 6px 20px;
	border-radius: 8px;
	cursor: pointer;
}

#awithdrawl:hover {
	background-color: var(--buttons-hover);
}

#withdrawl {
	margin-top: 22px;
	margin-bottom: 14px;
}

#right-panel {
	position: relative;
	margin-right: var(--div-padding);
	margin-left: 0%;
	text-align: center;
	padding-bottom: 56px;
}

hr {
	width: 96%;
	margin-left: 2%;
	border-color: #6E6E6E;
	box-shadow: none;
}

body {
	background-color: #f1f1f1;
	/*overflow: hidden;*/
}

#signup-form {
	background-color: #AEAEAE;
	text-align: center;
	position: absolute;
	margin-top: -380px;
	top: 120px;
	right: calc(50% - 110.75px);
	padding: 8px 10px 10px 10px;
	transition-property: margin-top;
	transition-duration: 0.5s;
	z-index: 1000;
	color: white;
}

#login-form {
	background-color: #AEAEAE;
	text-align: center;
	position: absolute;
	margin-top: -380px;
	top: 120px;
	right: calc(50% - 110.75px);
	padding: 8px 10px 10px 10px;
	transition-property: margin-top;
	transition-duration: 0.5s;
	z-index: 1000;
	color: white;
}

input.textbox {
	font-size: 18px;
	border-radius: 8px;
	border: 0.75px solid #C9C9C9;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	outline: none;
	margin-top: 4px;
}

#release-button {
	padding: 6px 23px 6px 23px;
	background-color: var(--buttons);
	position: absolute;
	margin-left: calc(50% - 64.41px);
	bottom: 8px;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
}

#release-button:hover {
	background-color: var(--buttons-hover);
}

#release-button-text {
	font-size: 24px;
	color: white;
}

button {
	outline: none;
}

#signupButton {
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	margin-top: 4px;
	border-radius: 8px;
	margin-bottom: 5px;
}

#releases-container {
	padding-top: 5px;
}

.songDiv {
	display: inline-block;
	width: 100%;
}

.songNameP {
	float: left;
	font-size: 22px;
	vertical-align: middle;
	margin-left: 10px;
}

.pauseP {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.pauseA {
	background-color: var(--buttons);
	padding: 4px 13px 4px 13px;
	cursor: pointer;
	border-radius: 6px;
	color: white;
}

.pauseA:hover {
	background-color: var(--buttons-hover);
}

#releaseNewSongForm {
	background-color: #9B9B9B;
	padding: 10px 20px 10px 20px;
	border-radius: 8px;
	position: absolute;
	left: calc(50% - 130px);
	top: 20%;
	text-align: center;
	width: 220px;
}

h4 {
	font-size: 26px;
}

.no-underline:visited {
	text-decoration: none;
	color: white;
}

.no-underline {
	text-decoration: none;
	color: white;
}

#menu-button {
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 15px;
	cursor: pointer;
	margin-top: 10px;
}

#menu-button2 {
	width: 45px;
	height: 45px;
	margin-top: 7px;
	margin-left: 15px;
	margin-bottom: 5px;
	cursor: pointer;
}

#dropdown {
	position: fixed;
	background-color: #AEAEAE;
	opacity: 50;
	top: 0;
	height: 100%;
	color: white;
	z-index: 1000;
	margin-left: -279px;
	transition-property: margin-left;
	transition-duration: 0.3s;
	width: 279px;
}

td {
	font-size: 22px;
	padding: 10px 0 10px 0;
	text-align: center;
}

.menu-item {
	cursor: pointer;
}

#dropdownhr {
	border-color: white;
	color: white;
	background-color: white;
	margin-top: -2px;
}

#graystuff {
	height: calc(100% - 60px);
	width: 100%;
	position: fixed;
	top: 60px;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
}

#table-menu {
	margin-top: 10px;
	text-align: center;
	margin-left: calc(50% - 55px);
}

#footer {
	background-color: var(--panels);
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	filter: none;
	overflow: hidden;
}

#cpr1 {
	font-size: 12px;
}

#cpr2 {
	font-size: 10px;
}

.top-container {
	display: inline-block;
	width: 100%;
}

.top-form-text {
	float: left;
}

.close-form {
	float: right;
	height: 17px;
	width: 17px;
	cursor: pointer;
}

.close-form:hover {
	background-color: #D1D1D1;
	border-radius: 50%;
	padding: 3px;
	margin: -3px;
}

#home {
	margin-top: 40px;
	text-align: center;
	font-weight: 900;
	color: var(--text);
	font-size: 18px;
}

#grabber-text {
	margin-bottom: 7px;
	font-size: 20px;
}

#goNow {
	color: var(--orange);
	text-decoration: underline;
	cursor: pointer;
	font-size: 22px;
}

.menu-item-p {
	text-align: center;
}

#dashboard {
	filter: none;
	overflow: hidden;
}

#img1 {
	height: 30px;
	width: 30px;
}

#cool-things {
	width: 60%;
	margin-left: 20%;
	color: var(--text);
	margin-top: 15px;
}

.cool-tr {
	padding: 0px;
}

.cool-td {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;
}

#left-form p {
	display: inline;
	margin-right: 8px;
}

#left-form {
	text-align: right;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
	#left-form {
		grid-template-columns: 1fr;
	}
}

#explicits {
	display: inline-block;
	width: 156px;
	text-align: left;
}

#isrcs {
	display: inline-block;
	width: 156px;
	text-align: left;
}

.form-element {
	border: 2px solid rgba(150, 150, 150, 0.8);
	padding: 7px;
	margin: 5px;
	border-radius: 4px;
	/*width: 350px;*/
}

#navbar-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0px;
}

.grid-item {
	text-align: center;
}

#dashboard-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--div-padding);
}

@media (max-width: 600px) { /* 600 or less */
	#dashboard-grid-container {
		display: grid;
		grid-template-columns: 1fr;
	}

	#left-panel {
		margin-right: var(--div-padding);
	}

	#right-panel {
		margin-left: var(--div-padding);
	}
}

#release-form {
	display: flex;
	justify-content: center;
}

#main-grid {
	display: grid;
	min-height: calc(100% - 60px);
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
}