/*========================================================================*/
/*============       End of Home  |||  Start of Dash        ==============*/
/*========================================================================*/






.top-container {
	display: inline-block;
	width: 100%;
}

.top-form-text {
	float: left;
}

.close-form {
	float: right;
	height: 17px;
	width: 17px;
	cursor: pointer;
}

.close-form:hover {
	background-color: #D1D1D1;
	border-radius: 50%;
	padding: 3px;
	margin: -3px;
}

#grabber-text {
	margin-bottom: 7px;
	font-size: 20px;
}

.menu-item-p {
	text-align: center;
}

#img1 {
	height: 30px;
	width: 30px;
}

#cool-things {
	width: 60%;
	margin-left: 20%;
	color: var(--text);
	margin-top: 15px;
}

.cool-tr {
	padding: 0px;
}

.cool-td {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 17px;
}



@media (max-width: 800px) {
	#first-form {
		grid-template-columns: 1fr;
	}
}

